root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = 140
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# Code formatting rules
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = none
csharp_style_var_for_built_in_types = true

# Rider specific rules
resharper_possible_null_reference_exception_highlighting=error

